.myprimarybg {
    background-color: #802121; /* !important; Use !important to override the default */
    /* background-color: rgb(203, 19, 19) !important; Use !important to override the default */
  }

  .myprimarybtn {
    background-color: #802121;
    border-color: red;
  }
  
  .myprimarybtn:hover {
    background-color: lightcoral;
    border-color: lightcoral;
  }